.grid-x.full.footer.align-center.align-middle
    .cell.small-2.sponsor.mml.mmr
        %img{ src:'http://www.norrislakemarinas.org/wp-content/themes/norris/img/logo_placeholder.png' }
    .cell.small-2.copyrights.lml.lmr
        %p.mpt.text-center IceCreamArchitecture © 2019
    .cell.small-2.social-media.mml.mmr
        %a{ href:'https://twitter.com' }
            %i.fa.fa-twitter-square.spl.spr
        %a{ href:'https://youtube.com' }
            %i.fa.fa-youtube-square.spl.spr
        %a{ href:'https://instragram.com' }
            %i.fa.fa-instagram.spl.spr
